.heading {
    font-size: 26px;
    text-transform: capitalize;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc {
    text-transform: uppercase;
}
ul {
    margin: 10px auto;
    padding: 0;
}
input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    background-color: #e3d8f0;
    color: blueviolet;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
@media (max-width: 375px) {
    .search-input {
        width: 150px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .desc,
    li {
        font-size: 14px;
    }
}
@media (min-width: 375px) and (max-width: 768px) {
    .search-input {
        width: 150px;
        margin-bottom: 10px;
        font-size: 14px;
    }
}
