@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow:wght@600&family=Bebas+Neue&family=Cormorant+SC:wght@400;600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Inter:wght@400;500;600;700;800&family=Lobster&family=PT+Sans&family=Playfair+Display:wght@700&family=Poppins&family=Prompt:ital,wght@1,900&display=swap');

.App {
    font-family: 'Lobster';
    text-align: center;
    border: 2px solid blueviolet;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    background-color: #e6e6fa;
}
li {
    list-style: none;
}
.weather_header {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin-left: 10px;
    color: blueviolet;
}
